@import url(../css/_normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url(../css/_vars.css);


* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html,
body {
    min-height: 100vh;
    font-family: 'Lato', sans-serif;    color: var(--main-text-color);
    font-size: var(--main-font-size); 
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* header */
.logo {
    width: 170px;
    height: 60px;
    /* justify-content: left; */
    cursor: pointer;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

.nav__list {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 30px;
    padding-left: 0;
}

.nav__list_item {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.nav__list_item > a {
    color: var(--main-text-color);
}

.nav__list_item > a:hover {
    color: #18B5DC;
}

.button {
    text-transform: uppercase;
    padding: 10px 20px;
    background: none;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #3C3C3C;
}
.button:hover {
    color: #FFFFFF;
    background: #18B5DC;
    border: 1px solid #18B5DC;
    cursor: pointer;
}

/* main */
.main {
    background: #F6F6F6;
    padding: 150px 0;
}
.team__title {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 34px;
    letter-spacing: 0.13em;

    position: relative;
}
.team__title::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 45px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #DDDBDB;
}

.team__sub-title {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    line-height: 1.5;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
    padding: 0;
}

.list__title {
    margin-top: 19px;
    margin-bottom: 0;
}

.person__photo {
    width: 270px;
    height: 270px;
}

.list__sub-title {
    margin: 0;
    color: #646464;
}


/* footer */
.flex-footer {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 40px 0;
}

.list__item_smaller > a {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 20px auto 28px;
}

.social__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

.social-list__link {
    color: #18B5DC;
    background-color: #FFFFFF;
}

.social-list__link>svg {
    width: 42px;
    height: 42px;
    border: 1px solid #18B5DC;

}

.social-list__link>svg:hover {
    color: #FFFFFF;
    background-color: #18B5DC;

}
